.container_card {
  width: 268px;
  height: 460px;
  border: 1px solid gray;
  border-radius: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_card:hover {
  box-shadow: 0px 4px 16px -4px;
}

.photo_food img {
  width: 268px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.title h1 {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 400;
  text-align: start;
}

.title .recipe p {
  width: 244px;
  color: rgba(128, 128, 128, 0.809);
  font-size: 14px;
  margin-top: 6px;
  font-weight: 200;
}

.buttons_form {
  margin-top: 20px;

  display: flex;
  gap: 16px;
  align-items: center;
}

.buttons_form span {
  font-size: 14px;
  color: rgb(168, 168, 168);
}

.ordered {
  border-radius: 6px;
  font-size: 15px;
  padding: 8px 6px;
  border: none;
  color: white;
  background-color: #471100c0;
}

.ordered:hover {
  background-color: transparent;
  color: black;
}
