.searchParams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  gap: 32px;
}

.logotype {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
  border: 1px solid black;
  border-radius: 12px;

  font-size: 26px;
  font-weight: 400;
}

.form_search {
  display: flex;
  align-items: center;
  gap: 24px;

  width: 100%;
  flex: 3;
  border-radius: 8px;
  border: 1px solid black;
  padding: 18px 22px;
}

.searchParams input {
  outline: none;
  height: 40px;
  border: none;

  font-size: 24px;
  width: 100%;
  font-weight: 500;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
