.orderedCard_container {
  width: 100%;
  border: 1px solid grey;
  padding: 10px 16px;
  border-radius: 12px;

  margin-bottom: 12px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.orderedCard_container:last-child {
  margin-bottom: 0;
}
