.container_navigate {
  display: flex;

  padding: 32px 0 44px;

  align-items: center;
  justify-content: space-around;
}

.navigation_border {
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  width: 100%;

  text-align: center;
}

.navigation_border_active {
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  width: 100%;

  text-align: center;

  background-color: #471000;
  border-radius: 10px;
  color: white;
}

.navigation_border:first-child {
  border-left: none;
}

.navigation_border:last-child {
  border-right: none;
}

.navigate_value {
  font-size: 22px;
  cursor: default;
  font-weight: 300;
}

.navigation_border:hover {
  transform: scale(1.2);
  font-weight: 500;
}
